<?xml version="1.0"?>
<!--***********************************************************
	Counter Factual Policy Data Reader
	Emily Sheetz, NSTGRO VTE 2024

	run either:
		$ roslaunch safety_aware_reasoning counter_factual_policy_data_reader.launch
		OR
		$ rosrun safety_aware_reasoning counter_factual_policy_data_reader.py
************************************************************-->
<launch>
	<arg name="robot" default="val"/>
	<arg name="env" default="lunar_habitat"/>

	<node pkg="safety_aware_reasoning" type="counter_factual_policy_data_reader.py" name="CounterFactualPolicyDataReader" output="screen">
		<param name="robot" value="$(arg robot)"/>
		<param name="environment" value="$(arg env)"/>
	</node>
</launch>
