<?xml version="1.0"?>
<!--***********************************************************
	Data Processing
	Emily Sheetz, NSTGRO VTE 2024

	run either:
		$ roslaunch safety_aware_reasoning data_processing.launch
		OR
		$ rosrun safety_aware_reasoning data_processing.py
************************************************************-->
<launch>
	<arg name="robot" default="all"/>
	<arg name="env" default="all"/>

	<!-- launch red teaming node -->
	<node pkg="safety_aware_reasoning" type="data_processing.py" name="SARDataProcessingNode" output="screen">
		<param name="robot" type="str" value="$(arg robot)"/>
		<param name="environment" type="str" value="$(arg env)"/>
	</node>

</launch>
